# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env
.venv/

# Distribution / packaging
*.egg-info/
build/
dist/

# Environment variables
.env
*.env

# Vector database index
data/index/
*.faiss
*.pkl

# HuggingFace model cache
~/.cache/
.huggingface/

# Docker
*.pid
*.log
*.tar

# VSCode
.vscode/



# macOS
.DS_Store

# Windows
Thumbs.db
